<table>
  <caption>Liste de toute les musiques.</caption>
 <thead>
   <tr>
      <th>Actions</th>
      <th>Auteur</th>
      <th>Album</th>
      <th>Titre</th>
   </tr>
   <tr>
      <th><input ng-model="search.$"></th>
      <th><input ng-model="search.artist"></th>
      <th><input ng-model="search.album"></th>
      <th><input ng-model="search.title"></th>
   </tr>
 </thead>
 <tfoot>
  <tr>
    <th>Actions</th>
    <th>Auteur</th>
    <th>Album</th>
    <th>titre</th>
  </tr>
 </tfoot>
 <tbody>
  <tr ng-repeat="item in data  | filter:search track by $index">
    <th><span ng-click="addTrackToPlayList(item)"> add</span> <span ng-click="playInstant(item)">play</span></th>
    <th>{{item.album}}</th>
    <th>{{item.artist}}</th>
    <th>{{item.title}}</th>
  </tr>
 </tbody>
</table>
